html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: $highlight;
  color: $highlight-text;
}

body {
  font-weight: $font-weight-default;
  line-height: 1.6;
  color: $dark;
  background-color: $background;
  overflow-x: hidden;
  overflow-y: scroll; // prevent slight layout shift when introducing content below the fold

  &::-webkit-scrollbar {
    background-color: $background-light;
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark;
  }

  * {
    // for prefers-reduced-motion
    @include motionless {
      transition: all 0s !important;
      animation: none !important;
    }
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: $font-family-main;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 1s;
}

a:hover,
a:active,
a:focus {
  color: $white;
}

.q-header {
  // this is to fix Safari bug where click event was not registered due to header component overlapping
  @media all and (max-width: 700px) {
    position: relative !important;
  }
}

.q-page-container {
  // this also to fix the Safari bug
  @media all and (max-width: 700px) {
    padding-top: 0 !important;
  }
}

.q-footer {
  padding: 6px;
  text-align: center;

  a {
    color: #fff;
  }
}
