@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // 600px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) {
      @content;
    } // 900px
  }
  @if $breakpoint == ipad {
    @media only screen and (min-width: 64em) {
      @content;
    } // 1024px
  }
  @if $breakpoint == desk-small {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200px
  }
  @if $breakpoint == desk-medium {
    @media only screen and (min-width: 87.5em) {
      @content;
    } // 1400px
  }
  @if $breakpoint == desk-large {
    @media only screen and (min-width: 100em) {
      @content;
    } // 1600px
  }
  @if $breakpoint == desk-xlarge {
    @media only screen and (min-width: 125em) {
      @content;
    } // 2000px
  }
}

@mixin ieOnly {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin motionless {
  @media (prefers-reduced-motion) {
    @content;
  }
}
