.products {
  margin: 0 auto;
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.75rem;
  justify-content: center;

  &__controls {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    .sort {
      flex-basis: 12rem;
      flex-shrink: 0;
      height: 46px;
    }

    .filter {
      display: inline-block;
      margin-right: auto;
      padding: 0.5rem;
      background-color: #fff;
      border: 1px solid $border;
      border-radius: $radius;
    }
  }

  &-empty {
    min-height: 60vh;
  }

  @include respond(tab-land) {
    padding: 2.5rem 4rem 1.5rem;
  }
}
.product {
  background-color: #fff;
  border-radius: 3px;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  font-family: $font-family-main;
  transition: all 1s;
  display: flex;
  border: 1px solid $border;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  &__img {
    object-fit: contain;
    height: 250px;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    cursor: pointer;
  }

  &__data {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__name,
  &__price,
  &__category {
    text-align: left;
  }

  &__category {
    font-weight: 300;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 30px;
      border-bottom: 1px solid $primary;
    }
  }

  &__name {
    font-size: 1rem;
    line-height: 1.2;
    margin: 1.3rem 0 0.3rem; // extra on top for separator
    color: $primary;
    font-weight: 600;

    &:hover {
      color: rgba($primary, 0.85);
    }
  }

  &__price {
    font-size: 1rem;
    font-weight: 400;

    &--reg {
      text-decoration: line-through;
      font-size: 0.75rem;
      text-align: left;
      margin-bottom: -5px;
    }
  }

  &__btn-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    flex-basis: 40px;
  }

  &__callout-wrapper {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0;

    .callout {
      font-size: 0.8rem;
    }
  }

  &__qty-select {
    flex-basis: 65px;
    flex-shrink: 0;
    padding-right: 12px;

    .q-field--outlined .q-field__control {
      padding: 0 5px;
    }
    .q-field__control-container {
      flex-shrink: 0;
      flex-basis: 20px;
    }
    .q-field__control {
      justify-content: center;

      .q-field__append {
        padding-top: 0;
        padding-left: 0;
      }
    }
    .q-field__inner {
      align-self: center;
    }
    .q-field__native {
      justify-content: center;

      & > span {
        font-size: 13px;
      }
    }
  }
}

.product__review-summary {
  align-self: flex-start;
  white-space: nowrap;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-bottom: 2px;

  i {
    color: gold;
  }

  .stars,
  .count {
    height: 25px;
  }

  .stars {
    position: relative;
    display: flex;
    align-items: center;

    .cover {
      background: $background;
      height: 100%;
      overflow: hidden;
      mix-blend-mode: color;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .count {
    font-size: 0.8rem;
    line-height: 1.8;
    display: inline-block;
  }
}

.q-field__control {
  height: 100% !important;
  border-radius: $radius !important;
}

.q-field__control::before {
  border: 1px solid $border !important;
}

.review__breakdown {
  min-width: 260px;

  i {
    color: gold;
  }

  .star--empty {
    color: #e1e1e1;
  }

  .q-linear-progress {
    min-width: 100px;
  }

  .percentage {
    flex-basis: 33px;
    flex-shrink: 0;
    font-size: 12px;
  }

  .text-h6 {
    line-height: 1.2;
  }
}
