.row.products {
  margin: 0 auto;
  padding: 1rem;
  padding-top: $nav-mobile-height;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
}
.product {
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 3px;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  font-family: $font-family-main;
  transition: all 1s;
  display: flex;
  flex-direction: column;

  & a {
    text-decoration: none;
  }

  &__img {
    object-fit: contain;
    height: 300px;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    cursor: pointer;

    @include respond(tab-land) {
      height: 350px;
    }
  }

  &__data {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__name,
  &__price,
  &__category {
    text-align: left;
  }

  &__category {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 30px;
      border-bottom: 1px solid $primary;
    }
  }

  &__name {
    font-size: 1.4rem;
    line-height: 1.2;
    margin: 1.3rem 0 0.3rem; // extra on top for separator
    color: $primary;
    font-weight: 600;

    &:hover {
      color: rgba($primary, 0.85);
    }
  }

  &__price {
    font-size: 1.25rem;
    font-weight: 400;
  }

  &__btn-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
  }

  &__btn {
    &--add-to-cart {
      height: 46px;
      margin-left: 12px;
    }
  }

  &__qty-select {
    flex-basis: 75px;
    flex-shrink: 0;
    height: 46px;

    .q-field__control {
      height: 100% !important;
      border-radius: $radius !important;
    }
  }
}

.product__review-summary {
  align-self: flex-start;
  white-space: nowrap;
  line-height: 1;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    fill: gold;
  }

  .stars,
  .count {
    height: 25px;
  }

  .stars {
    position: relative;

    .cover {
      background: $background;
      height: 100%;
      overflow: hidden;
      mix-blend-mode: color;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .count {
    font-size: 16px;
    line-height: 1.8;
    margin-left: 5px;
    display: inline-block;
  }
}
