// Vue Transition Classes
.fade-up-enter-from,
.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -15px);
  border-top: none;

  @include respond(tab-land) {
    transform: translateY(-15px);
    border-top: none;
  }
}
.fade-up-enter-to,
.fade-up-leave-from {
  opacity: 1;
  transform: translate(-50%, 0);
  border-top: 1px solid #ccc;

  @include respond(tab-land) {
    transform: translateY(0);
    border-top: none;
  }
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-scale-enter-from,
.fade-scale-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}
.fade-scale-enter-to,
.fade-scale-leave-from {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.fade-backdrop-enter-from,
.fade-backdrop-leave-to {
  opacity: 0;
}
.fade-backdrop-enter-to,
.fade-backdrop-leave-from {
  opacity: 0.4;

  @include respond(desk-small) {
    opacity: 0;
  }
}
