.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-self-start {
  align-self: flex-start;
}
.full-width {
  max-width: none !important;
}
.progress {
  border-color: $white;
  opacity: 0.5;
  left: -15px;
  right: -15px;
}
.font-muted {
  color: $muted;
}
.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  word-wrap: normal !important;
}
.no-scroll {
  overflow-y: hidden;
  width: calc(100% - var(--scrollbarWidth));

  .toTop {
    right: calc(1.25rem + var(--scrollbarWidth));
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-from-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
