.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: calc(100% - #{$nav-mobile-height});
  width: 100%;
  position: fixed;
  top: $nav-mobile-height;
  left: 0;
  background-color: rgba($color-text, 0.7);
  transform-origin: center;
  z-index: 15;
  padding: 2rem;
  transition: all 0.2s ease-out;

  &.active {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    & .modal__content {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.2s ease-out;
    }
  }

  &__content {
    background-color: $color-background;
    width: 90%;
    padding: 1.5rem;
    font-size: 2rem;
    margin: auto;
    max-height: 90%;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    @include respond(desk-small) {
      width: 75%;
    }

    @include respond(desk-medium) {
      width: 60%;
    }

    @include respond(desk-xlarge) {
      width: 40%;
    }

    @include motionless {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__title__price,
  &__text {
    flex: 0 0 95%;
    max-width: 95%;
  }

  &__title__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 0 0.5rem;

    @include respond(desk-small) {
      justify-content: flex-start;
      flex-wrap: wrap;
      font-size: 1.2rem;
      padding: 1rem 0 0;
    }
  }

  &__title,
  &__price {
    @include respond(desk-small) {
      flex: 0 0 100%;
    }
  }

  &__title {
    padding-right: 1rem;
    color: $color-primary;
  }

  &__price {
    padding-left: 1rem;
    color: $color-text;
    font-weight: bold;

    @include respond(desk-small) {
      padding: 3px 0;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 100%;

    @include respond(desk-small) {
      justify-content: space-between;
    }

    @include respond(desk-medium) {
      justify-content: space-around;
    }
  }

  &__text-content {
    @include respond(desk-small) {
      flex: 0 0 45%;
      max-width: 45%;
      padding: 1rem 0;
    }
  }

  &__image,
  &__text {
    margin: 0.25rem 0;
  }

  &__image {
    flex: 0 0 33%;
    max-width: 33%;

    @include respond(desk-small) {
      padding: 1rem;
      flex: 0 0 45%;
      max-width: 45%;
    }

    @include respond(desk-medium) {
      padding: 2rem;
      flex: 0 0 40%;
      max-width: 40%;
    }
  }

  &__text {
    border-top: 2px solid #cecece;
    font-size: 1rem;
    text-align: left;
    padding: 1rem 0 0;

    @include respond(desk-small) {
      margin-right: auto;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 16px;
    color: $color-text;
    appearance: none;
    background: none;
    border: none;
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
      color: rgba($color-text, 0.8);
    }
  }
}
