.modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color-text, 0.7);
  transform-origin: center;
  overflow-y: scroll;
  transition: all 0.2s;

  &.active {
    z-index: 500;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__content {
    background-color: $color-background;
    width: 90%;
    padding: 1.5rem;
    font-size: 2rem;
    margin: auto;
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include respond(desk-small) {
      width: 80%;
      max-height: 85vh;
    }

    @include respond(desk-medium) {
      width: 50%;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 100%;
  }

  &__image,
  &__text {
    margin: 1rem 0;
  }

  &__image {
    flex: 0 0 70%;
    max-width: 70%;

    @include respond(desk-small) {
      flex: 0 0 33%;
      max-width: 33%;
      padding: 1rem;
    }
  }

  &__text {
    flex: 0 0 95%;
    max-width: 95%;
    padding: 2rem 0.5rem;
    border-top: 2px solid $color-primary;
    font-size: 1rem;
    text-align: left;

    @include respond(desk-small) {
      flex: 0 0 55%;
      max-width: 55%;
      padding: 2rem;
      border-left: 2px solid $color-primary;
      border-top: none;
    }
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    color: $color-text;
    appearance: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: rgba($color-text, 0.8);
    }
  }
}
