.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-background;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  padding: 0.75rem 1rem 0;
  width: 100%;
  max-width: 100%;
  min-height: $nav-mobile-height;
  max-height: $nav-mobile-height;
  display: flex;
  align-items: center;
  z-index: 110;
  border-bottom: 1px solid #ccc;
  transition: max-height 1.2s cubic-bezier(0.61, 1, 0.88, 1);

  @include respond(ipad) {
    padding: 0.25rem 5rem 0 1rem;
  }

  @include respond(desk-small) {
    padding: 0.25rem 2rem;
    max-height: none;
    position: sticky;
  }

  @include respond(desk-medium) {
    padding: 0.75rem 6rem;
  }

  @include ieOnly {
    display: none !important;
  }

  &.in {
    height: auto;
    max-height: 100vh;

    @include respond(desk-small) {
      max-height: none;
      border-bottom: none;
    }

    & .nav__button .nav__icon {
      background-color: transparent; // Hide the middle bar, while maintaing its size since the psuedo elements depend on it

      &::before {
        // Rotate the top bar to form one half of the X
        transform: rotate(135deg);
        top: 0;
      }

      &::after {
        // Rotate the bottom bar to form the other half of the X
        transform: rotate(-135deg);
        top: 0;
      }
    }

    & .nav__filter,
    & .nav__sort,
    & .nav__cart {
      display: block;
    }

    & ~ .nav__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: transparent;
      z-index: 45;

      @include respond(desk-small) {
        display: none;
      }
    }

    @include respond(desk-small) {
      border-bottom: none;
    }
  }

  @include respond(desk-small) {
    height: auto;
  }

  &__filter,
  &__sort,
  &__cart {
    display: none;
    opacity: 0;
    animation: fade-in 1s 0.2s forwards ease;

    @include respond(desk-small) {
      display: block;
      opacity: 1;
      animation: none;
    }
    @include motionless {
      opacity: 1;
    }
  }

  &__sort {
    width: 13rem;
    max-width: 13rem;
    flex: 0 0 13rem;

    @include respond(desk-small) {
      margin-left: auto;
    }
  }

  &__button {
    appearance: none;
    border: none;
    height: 3rem;
    width: 2.5rem;
    z-index: 40;
    text-align: center;
    margin: 0 0.5rem 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5rem;
    top: 6px;
    transition: all 0.3s;

    @include respond(tab-land) {
      margin: 0 1rem 0 auto;
    }

    @include respond(desk-small) {
      display: none;
    }
  }

  &__icon {
    position: relative;
    margin-top: 2px;

    @include respond(desk-small) {
      display: none;
    }

    &,
    &::before,
    &::after {
      width: 2.5rem;
      height: 2px;
      background-color: $color-text;
      display: inline-block;
      z-index: 40;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      top: -0.675rem;
    }

    &::after {
      top: 0.675rem;
    }
  }
}

.sort {
  &__select {
    cursor: pointer;
  }
}
