.toTop {
  position: fixed;
  bottom: 16px;
  left: 16px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: rgba($color-primary, 0.85);
  z-index: 90;
  animation: fade-in-from-bottom 0.5s ease;
  transition: opacity 0.4s;

  &:active {
    outline: none;
  }

  &:hover {
    background-color: rgba($color-primary, 1);
  }

  & > svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
  }
}
