// Vue Transition Classes
.fade-up-enter,
.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -15px);
  border-top: none;
}
.fade-up-enter-to,
.fade-up-leave {
  opacity: 1;
  transform: translate(-50%, 0);
  border-top: 1px solid #ccc;
}
@include respond(tab-land) {
  .fade-up-enter,
  .fade-up-leave-to {
    transform: translateY(-15px);
    border-top: none;
  }
  .fade-up-enter-to,
  .fade-up-leave {
    transform: translateY(0);
    border-top: none;
  }
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}
.fade-scale-enter,
.fade-scale-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}
.fade-scale-enter-to,
.fade-scale-leave {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.fade-scale-enter-active {
  transition: all 5.2s ease-out;
}
.fade-scale-leave-active {
  transition: all 0.1s;
}
.fade-backdrop-enter,
.fade-backdrop-leave-to {
  opacity: 0;
}
.fade-backdrop-enter-to,
.fade-backdrop-leave {
  opacity: 0.4;

  @include respond(desk-small) {
    opacity: 0;
  }
}
