.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-self-start {
  align-self: flex-start;
}
.show {
  display: block;
}
.full-width {
  max-width: none !important;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
