// colors
$color-primary: #023246;
$color-text: #3f3f3f;
$color-white: #f8f8ff;
$color-background: #fdfdfd;
$color-background-light-grey: #f1f1f1;
$color-highlight: #a7a7a7;
$color-highlight-text: #fff;

// layout
$nav-mobile-height: 60px;

// design
$design-border-radius-default: 3px;
$design-box-shadow-default: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);

// fonts
$font-family-main: 'Mulish', sans-serif;
$font-weight-default: 400;

:root {
  --scrollbar-width: 6px;
}
